
@font-face {
    font-family: TMTLimkin;
    src: url('TMT-LimkinVF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.left{
    width: 30%;
    background-image: url("FallPic.avif");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.logo{
    background-color: rgb(8, 9, 14, 0.8);
    width: 100%;
    height: 100px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: "TMTLimkin";
    color: #b9b9b9;
}

.copyright{
    font-size: 12px;
    font-family: "TMTLimkin"; 
    font-weight: 900;
    color: #b9b9b9;
    margin-top: auto;
    margin-inline: auto;
    margin-bottom: 15px;
}

.picture{
    width: 100%;
}
.right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header{
    background-color: rgb(170, 169, 167);
    height: 30%;
    font-size: 32px;
    font-family: "TMTLimkin"; 
    font-weight: 900;
    color: black;
    padding-inline: 30px;
}

.form{
    height: 50%;
    font-size: 20px;
    font-family: "TMTLimkin"; 
    font-weight: 900;
    color: black;
    padding-inline: 30px;
}
.table{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.item{
    display: flex;
    height: 80px;
    flex-direction: column;
}

.bottom{
    background-color: rgb(170, 169, 167);
    height: 20%;
    font-size: 18px;
    font-family: "TMTLimkin"; 
    font-weight: 700;
    color: black;
    padding-top: 20px;
    padding-inline: 30px;
}

.create{
    background-color: #783626;
    color: #b9b9b9;
    height: 40px;
    width: 200px;
    border-radius: 8px;
    font-size: 24px;
    font-family: "TMTLimkin"; 
    font-weight: 900;
}

.email-error{
    color: red;
    display: none;
}

.confirm-error{
    color: red;
    display: none;
}

input {
    font-family: "TMTLimkin"; 
    border: 1px solid #ccc; 
    outline: none; 
}
    
input:focus {
    border-color: #007BFF;
}
